/*font-family: 'Aclonica', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'KoHo', sans-serif;
font-family: 'Sacramento', cursive;*/
 
 *{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


body{
    min-height:100%;
    background-image:linear-gradient(60deg, rgb(207, 63, 63) , rgb(216, 238, 20) , rgb(6, 212, 240), rgb(112, 243, 61) );
    background-size: 250%;
    animation: gradient 8s  infinite alternate ;
}

@keyframes gradient{
    0%{
        background-position: left;
    }
    100%{
        background-position: 40% 60%;
    }
}

lable{
    font-family: 'Sacramento', cursive;
    font-size: 79px;
    letter-spacing: 3px;
    font-weight: 600;
    color: rgb(5, 105, 97);
}

.main{
    margin-top: 40px;
    margin-left: 9%;
    margin-right: 9%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
    font-family: 'Kalam', cursive;
}

h2{
    font-family: 'Aclonica', sans-serif;
    font-size:40px;
    line-height: 80px;
    font-weight: 200;
    letter-spacing: 1px;
    color: rgb(61, 43, 43);
}

.image{
    height:240px;
    border-radius: 50%;
    box-shadow: 0  2px 0 3px  rgb(172, 92, 92);
    animation: img 1.4s  linear 0.3s 1 ;
}

@keyframes img{
    0%{
      transform:scale(0.3);
      visibility: visible;
    }
    
    35%{
      transform:scale(0.9);
      visibility:visible; 
    }
    66%{
        transform:scale(0.6);
        visibility:visible; 
      }
      100%{
        transform:scale(1);
        visibility:visible; 
      }

}
.social{
    margin-top: 110px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}

.social .icon{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position:relative;
}
                                        
.social .icon span{
    height: 80px;
    width: 80px;
    display: block;
    text-align: center;
    font-size: 300%;
    line-height: 80px;
    background:rgb(105, 105, 104);
    border-radius: 50%; 
    border: 3px solid rgb(212, 193, 193);
    cursor:pointer;
}

.social .icon .text{
    margin-bottom: 20px;
    width:130px;
    height:45px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    color:rgb(88, 85, 85);
    line-height: 40px;
    font-size: 160%;
    background:burlywood ;
    border-radius: 20%; 
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(1,1.6,0,1);

}
 
.social .icon:hover .text{
    opacity:1;
    pointer-events: auto;
    letter-spacing: 4px;
    font-weight: 700;

}

.social .icon .text:before
{
    position:absolute;
    content: "";
    height:15px;
    width:15px;
    background:burlywood ;
    transform: rotate(45deg);
    top:78%;
    left:43%;
}                                  
.social .icon span a{
    color: black;
                                      
}                                
                                 
 .social .icon:hover .insta::before{
    content: "";
    position:absolute;
    width:101px;
    height:101px;
    right:13px;
    top: 54px;
    border-radius:50% ;
    z-index: -1;
    background: linear-gradient(rgb(88, 53, 145) ,rgb(255, 0, 0), rgba(223, 226, 14, 0.973));
    filter: blur(5px);
} 

.social .icon:hover .gmail::before{
    content: "";
    position:absolute;
    width:101px;
    height:101px;
    right:13px;
    top: 54px;
    border-radius:50% ;
    z-index: -1;
    background: rgb(209, 25, 25);
    filter: blur(5px);
} 


.social .icon:hover .github::before{
    content: "";
    position:absolute;
    width:101px;
    height:101px;
    right:13px;
    top: 54px;
    border-radius:50% ;
    z-index: -1;
    background: linear-gradient(rgb(24, 6, 102) ,rgb(4, 46, 161), rgba(8, 122, 175, 0.973));
    filter: blur(5px);
} 



.social .icon:hover .linkedin::before{
    content: "";
    position:absolute;
    width:101px;
    height:101px;
    right:13px;
    top: 54px;
    border-radius:50% ;
    z-index: -1;
    background: linear-gradient(rgb(26, 122, 231) ,rgb(100, 138, 223), rgba(159, 214, 240, 0.973));
    filter: blur(5px);
} 

.social .icon span:hover{
    border-style: none;

}

  #insta{
    color: rgba(153, 11, 77, 0.952);
}

#gmail{
    color: rgb(235, 16, 16);
}

#github{
    color: rgb(18, 8, 104);
}

#linkedin{
    color: rgb(55, 209, 230);
}

@media only screen and (max-width:600px)
{
    
    .social{
        display:flex;
        flex-direction:column;
    }
   
}
